*.class
.devcontainer
.snakemake/
.vscode
results/
docs/build
.DS_Store
docs/source/_build
Rplots.pdf
causal-cmd.log
.java/
.cache/
__pycache__/
workflow/schemas/tmp.config.schema.json
.RData
.Rhistory
*.pyc
resources/data/mydatasets/notreks_*/
resources/data/mydatasets/notreks_hparam/
resources/adjmat/myadjmats/gnotreks_*.csv
resources/adjmat/myadjmats/notreks_*.csv
resources/adjmat/myadjmats/notreks_hparam_*.csv
